extends layout

block content
  div(class='main-container')
    div(class='left-main-container-editor')
        div(class='test') This will have profile info?
    div(class='center-main-container-editor')
    div(class='right-main-container-editor')
        div(class='test') This will have profile info?