extends layout

block content
  div(class='main-container')
    div(class='left-main-container-editor')
        
    div(class='center-main-container-editor')
      div(class='editor')
        div(class='editor-content')
      
      div(class="editor-tag") Create tags for your post
      div(class='tag-container')
        
      
    div(class='right-main-container-editor')
      div(class='editor-button-container')
        span(class="save-button") Save
        span(class='delete-button') Delete