extends layout

block navbar
  div(class="navbar-container")
    div(class='navbar-logo') 
      img(src='/images/logo_black.png' alt="logo" draggable='false')
    div(class='navbar-tools')
      div(class='navbar-buttons') login
      div(class='navbar-buttons-impact') register
      

block content
  div(class='main-container')
    div(class='advert-container')
      div(class='advert-image-container')
        img(class='advert-image' src="/images/darth.png" alt="d_logo" draggable='false') 
        img(class='advert-image' src="/images/maul.png" alt="d_logo" draggable='false')
        img(class='advert-image' src="/images/r2.png" alt="d_logo" draggable='false')
        img(class='advert-image' src="/images/storm.png" alt="d_logo" draggable='false')
        img(class='advert-image' src="/images/yoda.png" alt="d_logo" draggable='false')

      div(class='advert-word') A long time ago in a galaxy far, far away . . .
  
    div(class='trending-container')
      div(class='trending-inner-container')
        div(class='trending-items')
          div(class='trending-items-number') 01
          img(class='trending-items-author-img' src='/images/storm.png' alt='author')
            
          div(class='trending-box')
            div(class='trending-items-author') StromTrooper from Starwars
            div(class='trending-items-title') Stop Using Light Sabers ! 

        div(class='trending-items')
          div(class='trending-items-number') 02
          img(class='trending-items-author-img' src='/images/storm.png' alt='author')
          div(class='trending-box')
            div(class='trending-items-author') StromTrooper from Starwars
            div(class='trending-items-title') Top 10 Most Used Light Sabers in Dark Star

        div(class='trending-items')
          div(class='trending-items-number') 03
          img(class='trending-items-author-img' src='/images/storm.png' alt='author')
            
          div(class='trending-box')
            div(class='trending-items-author') StromTrooper from Starwars
            div(class='trending-items-title') Beginner's Hack: Configuring R2D2

        div(class='trending-items')
          div(class='trending-items-number') 04
          img(class='trending-items-author-img' src='/images/storm.png' alt='author')
            
          div(class='trending-box')
            div(class='trending-items-author') StromTrooper from Starwars
            div(class='trending-items-title') Top Trends: Advancing to Imperial Army

        div(class='trending-items')
          div(class='trending-items-number') 05
          img(class='trending-items-author-img' src='/images/storm.png' alt='author')
            
          div(class='trending-box')
            div(class='trending-items-author') StromTrooper from Starwars
            div(class='trending-items-title') 7 Top Techniques to dodge a Jedi

        div(class='trending-items')
          div(class='trending-items-number') 06
          img(class='trending-items-author-img' src='/images/storm.png' alt='author')
            
          div(class='trending-box')
            div(class='trending-items-author') StromTrooper from Starwars
            div(class='trending-items-title') Darth Vader, the war hero ...

    div(class='content-container')
      div(class='left-content-container')
        div(class='content-item-container') 
          img(class='item-author-icon' src='/images/storm.png' alt='autho' draggable='false')
          div(class='lcontent-item-container')
            div(class='item-author-title') Imperial Trooper from Rise of SkyWalker
            div(class='item-post-title')
              p This is some long-----Title
            div(class='item-post-description')
              p This is some description that is written in this section of the post
          div(class='rcontent-item-container')
            img(class='article-image' src='/images/r2.png' alt='r2d2' draggable='false')


        div(class='content-item-container') 
          img(class='item-author-icon' src='/images/storm.png' alt='autho' draggable='false')
          div(class='lcontent-item-container')
            div(class='item-author-title') Imperial Trooper from Rise of SkyWalker
            div(class='item-post-title')
              p This is some long-----Title
            div(class='item-post-description')
              p This is some description that is written in this section of the post
          div(class='rcontent-item-container')
            img(class='article-image' src='/images/r2.png' alt='r2d2' draggable='false')

        div(class='content-item-container') 
          img(class='item-author-icon' src='/images/storm.png' alt='autho' draggable='false')
          div(class='lcontent-item-container')
            div(class='item-author-title') Imperial Trooper from Rise of SkyWalker
            div(class='item-post-title')
              p This is some long-----Title
            div(class='item-post-description')
              p This is some description that is written in this section of the post
          div(class='rcontent-item-container')
            img(class='article-image' src='/images/r2.png' alt='r2d2' draggable='false')

        div(class='content-item-container') 
          img(class='item-author-icon' src='/images/storm.png' alt='autho' draggable='false')
          div(class='lcontent-item-container')
            div(class='item-author-title') Imperial Trooper from Rise of SkyWalker
            div(class='item-post-title')
              p This is some long-----Title
            div(class='item-post-description')
              p This is some description that is written in this section of the post
          div(class='rcontent-item-container')
            img(class='article-image' src='/images/r2.png' alt='r2d2' draggable='false')
        
        div(class='content-item-container') 
          img(class='item-author-icon' src='/images/storm.png' alt='autho' draggable='false')
          div(class='lcontent-item-container')
            div(class='item-author-title') Imperial Trooper from Rise of SkyWalker
            div(class='item-post-title')
              p This is some long-----Title
            div(class='item-post-description')
              p This is some description that is written in this section of the post
          div(class='rcontent-item-container')
            img(class='article-image' src='/images/r2.png' alt='r2d2' draggable='false')
        

        div(class='content-item-container') 
          img(class='item-author-icon' src='/images/storm.png' alt='autho' draggable='false')
          div(class='lcontent-item-container')
            div(class='item-author-title') Imperial Trooper from Rise of SkyWalker
            div(class='item-post-title')
              p This is some long-----Title
            div(class='item-post-description')
              p This is some description that is written in this section of the post
          div(class='rcontent-item-container')
            img(class='article-image' src='/images/r2.png' alt='r2d2' draggable='false')


      div(class='right-content-container')
        div(class='right-content-sticky') 
          p Clone coded with <del>blood, sweat, and tears</del> by Son
          div(class='footer-info-container')
            img(class='github-icon' src='/images/github.png' alt='github' draggable='false')
          div(class='credit') Main logo and StarWars logos from LogoMakr.com
