doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/prosemirror.css')
    
  body
    block navbar
      div(class="navbar-container")
        div(class='navbar-logo') 
          a(href='/')
            img(src='/images/logo_black.png' alt="logo" draggable='false')
        
        div(class='navbar-buttons-container')
          if isAuthenticated
            
            div(class='navbar-buttons') 
              a(href='/myposts') published
            
            div(class='navbar-buttons') 
              a(href='/logout') logout
          else
            div(class='navbar-buttons') 
              a(href='/login') login
    
    block content
