extends layout

block content
  div(class='main-container')
    div(class='left-main-container')
        div(class='test') This will have profile info?
    div(class='center-main-container')
        div(class='posts-maintitle') Posts
        div(class='myposts-item-container') 

            div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
            div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53

        div(class='myposts-item-container') 
            

            div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
            div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53

        div(class='myposts-item-container') 
            

            div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
            div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53

        div(class='myposts-item-container') 
           
            div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
            div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53

        div(class='myposts-item-container') 
           
            div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
            div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53

        div(class='myposts-item-container') 
            
            div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
            div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53


    div(class='right-main-container') 
        div(class="test") This will have footer