extends layout

block content
  div(class='main-container')
    div(class='left-main-container')
        div(class='test') This will have profile info?
    div(class='center-main-container')
        div(class='myposts-item-container') 
            div(class='myposts-item-icons-container')
                a(href='/edit')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/edit_icon.png" alt="edit" draggable='false')
                a(href='/delete')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/delete_icon.png" alt="delete" draggable='false')

            div(class="posts-picture")
                img(class='posts-picture-img' src="/images/darth.png" alt="delete" draggable='false')

            div(class="posts-content")
                div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
                div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53

        div(class='myposts-item-container') 
            div(class='myposts-item-icons-container')
                a(href='/edit')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/edit_icon.png" alt="edit" draggable='false')
                a(href='/delete')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/delete_icon.png" alt="delete" draggable='false')

            div(class="posts-picture")
                img(class='posts-picture-img' src="/images/darth.png" alt="delete" draggable='false')

            div(class="posts-content")
                div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
                div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53

        div(class='myposts-item-container') 
            div(class='myposts-item-icons-container')
                a(href='/edit')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/edit_icon.png" alt="edit" draggable='false')
                a(href='/delete')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/delete_icon.png" alt="delete" draggable='false')

            div(class="posts-picture")
                img(class='posts-picture-img' src="/images/darth.png" alt="delete" draggable='false')

            div(class="posts-content")
                div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
                div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53

        div(class='myposts-item-container') 
            div(class='myposts-item-icons-container')
                a(href='/edit')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/edit_icon.png" alt="edit" draggable='false')
                a(href='/delete')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/delete_icon.png" alt="delete" draggable='false')

            div(class="posts-picture")
                img(class='posts-picture-img' src="/images/darth.png" alt="delete" draggable='false')

            div(class="posts-content")
                div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
                div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53

        div(class='myposts-item-container') 
            div(class='myposts-item-icons-container')
                a(href='/edit')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/edit_icon.png" alt="edit" draggable='false')
                a(href='/delete')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/delete_icon.png" alt="delete" draggable='false')

            div(class="posts-picture")
                img(class='posts-picture-img' src="/images/darth.png" alt="delete" draggable='false')

            div(class="posts-content")
                div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
                div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53

        div(class='myposts-item-container') 
            div(class='myposts-item-icons-container')
                a(href='/edit')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/edit_icon.png" alt="edit" draggable='false')
                a(href='/delete')
                    div(class="myposts-item-icon-div")
                        img(class='myposts-icons-img' src="/images/delete_icon.png" alt="delete" draggable='false')

            div(class="posts-picture")
                img(class='posts-picture-img' src="/images/darth.png" alt="delete" draggable='false')

            div(class="posts-content")
                div(class='posts-title') Test ----- Title ------ Star Warsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                div(class='posts-description') Some description ----- Dark Star -------- Darth Vaderasssssssssssssssssssssssssssssssssssssssssssssssssss
                div(class='posts-info') Some  meta tags or when this is written ----- 11 Nov at 14:53


    div(class='right-main-container') 
        div(class="test") This will have footer