extends layout

block content
  div(class='main-container')
    div(class='left-main-container-editor')
        
    div(class='center-main-container-editor')
      div(class='post-viewer')
        div(class='post-content')


      div(class='post-info-container')
        div(class='post-tag-container')

      div(class='badge-container')
    div(class='right-main-container-editor')


    div(class='post-footer')
      span(class='post-footer-text') More from i d i o m 
      div(class='more-from-container')
        

    div(class='footer')
      div(class="footer-container")
        span(class="footer-text") 
          p O d i u m<br><br>Clone coded by json9512 <br><br>Any bug reports to:
          a(href='https://github.com/json9512' target='_blank')
              img(class='github-icon-footer' src='/images/github.png' alt='github' draggable='false' )
      div(class="footer-divider")
