extends layout

block content
  script(type='module' src='/javascripts/main.bundle.js')
  div(class='main-container')
    div(class='left-main-container-editor')
        
    div(class='center-main-container-editor')
      div(class='post-viewer')
        div(class='post-content')
    div(class='right-main-container-editor')
