/*
  fonts.google.com
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Goldman:wght@700&family=Josefin+Sans&family=Overpass:ital,wght@0,400;1,100&family=Press+Start+2P&family=Prompt&family=Raleway:wght@300&display=swap');

:root {
  --divider-prop: 3px solid rgba(228, 228, 228, 0.918);
  --trending-number-color: rgba(228, 228, 228, 0.918);
  --ui-font: 'Josefin Sans', sans-serif;
}

/*
  Styles
  Think about responsiveness later
*/

body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(5, 5, 5) white;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(5, 5, 5);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}

div {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.modal{
  display: none;
  position: fixed;
  z-index: 101;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  height: 12vh;
  width: 20%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 15px;
}

.modal-message{
  color: black;
  float: right;
  font-size: 1.5vw;
  grid-row: 1;
  text-align: center;
  font-family: var(--ui-font);
  
}

.modal-buttons{
  display: flex;
  flex-direction: row;
  grid-row: 2;
  column-gap: 1vw;
}

.modal-button-accept, .modal-button-decline{
  width: 100%;
  vertical-align: middle;
  text-align: center;
  line-height: 6.4vh;
  justify-self: center;
  font-size: 1.3vmax;
  font-family: var(--ui-font);
  cursor: pointer;
  color:rgba(228, 228, 228, 0.918);
}

.modal-button-decline:hover{
  color: rgba(207, 0, 15, 1);
}

.modal-button-accept:hover{
  color: rgba(0, 230, 64, 1);
}

.navbar-container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  width: 100%;
  height: 13vh;
  background-color:white;
  position: fixed;
  z-index: 100;
}

.navbar-logo{
  position: fixed;
  display:flex;
  height: 58px;
  padding-left: 0;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 2vh;
  margin-left: 15vw;
  margin-top: 4vh;
}

.logo-image{
  width: 120px;
}

.navbar-buttons-container{
  width: fit-content;
  grid-column: 8/9;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto; 
  align-self: end;
}

.navbar-buttons{
  width: auto;
  height: 4vh;
  font-size: 1.3vw;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  padding: 12px 10px 0px 10px;
  font-family: var(--ui-font);
  grid-row: 1;
  margin-bottom: 1vh;
}

.navbar-buttons > a{
  color: rgb(121, 121, 121);
  outline: none;
  text-decoration: none;
}


.navbar-buttons > a:hover{
  color: black;
}

.main-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
  margin-top: 13vh;
}

.credit{
  font-family: var(--ui-font);
  font-size: 18px;
  align-self: flex-end;
  margin-top: 3vh;
  grid-column: 10;
  overflow: hidden;
}

.advert-container{
  height: 50vh;
  width: 100%;
  display: grid;
  grid-column: 1/10;
  grid-template-columns: auto;
}

.advert-image-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-column: 1;
  grid-row: 1;
  justify-content: space-evenly;
}

.advert-image {
  align-self: center;
  width: 64px;
  height: auto;
  grid-column: 1;

}

.advert-word{
  grid-column: 1;
  grid-row: 2;
  font-family: 'Press Start 2P', cursive;
  font-size: 1vw;
  text-align: center;
  margin-top: 7vh;
}


/*
  Trending box
*/
.trending-container{
  width: 100%;
  display: grid;
  grid-column: 1/10;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  border-top: var(--divider-prop);
  border-bottom: var(--divider-prop);
  justify-content: center;
}

.trending-message{
  grid-column: 1;
  grid-row: 1;
  font-family: var(--ui-font);
  margin: 2vw;
  font-size: x-large;
}

.trending-inner-container{
  align-self: center;
  grid-column: 1;
  grid-row: 2;
  width: 80vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  background-color: white;
  gap: 5vmin;
  margin-bottom: 4vh;
}

.trending-container-box{
  display: flex;
  flex-direction: row;
  grid-column: 1;
}

.trending-items{
  width: 20vw;
  display: grid;
  grid-template-columns: 20px 64px auto;
  grid-template-rows: auto;
  column-gap: 1vw;
}

.trending-items-number{
  font-family: 'Goldman', cursive;
  font-size: 2rem;
  color: var(--trending-number-color);
}

.trending-items-author-img{
  width: 48px;
  height: 48px;
  border: 1px solid white;
  border-radius: 24px;
}

.trending-box{
  display: flex;
  flex-direction: column;
  height: auto;
  cursor: pointer;
}

.trending-items-author{
  font-family: 'Overpass', sans-serif;
  font-size: 1.5vh;
}

.trending-items-title{
  font-family: 'Prompt', sans-serif;
  font-size: 2vh;

}

/*
  Content container
*/

.content-container{
  margin-top: 2vh;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto; 
  grid-column: 1/10;
}

.left-content-container{
  grid-column: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 68vw;
}

.content-item-container{
  height: 15vw;
  width: 38vw;
  background-color: white;
  display: grid;
  grid-template-columns: auto 30vw 20vw;
  margin-left: 20vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.lcontent-item-container{
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 1;
  margin-left: 1.3vw;
  margin-right: 1.3vw;
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
}

.rcontent-item-container{
  width: 12vw;
  grid-column: 3;
  grid-row: 1;
  display: block;
  margin: auto auto auto auto;
  font-size: 1vh;
}

.article-image{
  display: block;
  margin: auto auto auto auto;
  width: 100%;
}

.item-author-icon{
  grid-column: 1;
  grid-row: 1;
  width: 48px;
  height: 48px;
  border: 1px solid white;
  border-radius: 24px;
  justify-self: center;
}

.item-author-title{
  margin-top: 5px;
  font-family: 'Overpass', sans-serif;
  font-size: .8vw;
  text-align: left;
}

.item-post-title{
  font-family: 'Prompt', sans-serif;
  font-size: 1.5vw;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(to right, rgb(121, 121, 121), rgb(121, 121, 121));
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 10% 2px;
  transition: background-size .3s ease;
}

.item-post-title:hover{
  background-size: 80% 2px;
}

.item-post-title > p {
  margin-top: 0;
  margin-bottom: 0;
}

.item-post-description{
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  cursor: pointer;
}

.item-post-meta{
  font-size: 1.2vh;
}

/* right container */

.right-content-container{
  width: 30vw;
  grid-column: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}

.right-content-sticky{
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 13vh;
}

.right-content-sticky > p{
  margin-top: 1vh;
  font-family: var(--ui-font);
  font-size: larger;
}

.footer-info-container{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: var(--divider-prop);
}

.footer-info-container > a{
  text-decoration: none;
  justify-self: end;
}

.github-icon{
  margin-top: 3vh;
  margin-bottom: 3vh;
  grid-column: 1;
  justify-self: end;
}


/*
  Footer on right container
*/

.credit{
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: auto;
  width: 100%;
  height: auto;
  background-color:white;
  margin-bottom: 5vh;
}


/* Myposts page*/
.left-main-container{
  top: 13vh;
  height: 100%;
  background-color: white;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}

.center-main-container{
  height: 100%;
  grid-column: 3/8;
  display: flex;
  flex-direction: column;
}

.divider-myposts{
  grid-column: 9;
  width: 100%;
}

.test{
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 13vh;
}

.create-post-container, .edit-post-container{
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 16.5vh;
  color: white;
  font-family: var(--ui-font);
  font-size: x-large;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  color: rgb(121, 121, 121);
  font-family: var(--ui-font);
  align-self: flex-start;
  margin: 2vw;
  text-decoration: none;
  background-image: linear-gradient(to right, rgb(121, 121, 121), rgb(121, 121, 121));
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 30% 2px;
  transition: background-size .3s ease;
}

.create-post-container:hover, .edit-post-container:hover{
  color:black;
  background-size: 100% 2px;
}

.footer-myposts{
  margin-top: 5vh;
  font-family: var(--ui-font);
  font-size: large;
  margin-bottom: 3vh;
}

.myposts-item-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--divider-color);
  word-wrap: break-word;
  word-break: break-all;
}

.posts-maintitle{
  width: auto;
  font-family: var(--ui-font);
  font-size: x-large;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.posts-title{
  width: auto;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
}

.posts-title-no-pointer{
  width: auto;
  font-family: var(--ui-font);
  font-size: large;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.posts-description{
  width: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  margin-bottom: 2vh;
  cursor: pointer;
}

.posts-info{
  width: 100%;
  font-family: 'Overpass', sans-serif;
  font-style: italic;
  font-size: .8vw;
  text-align: left;
  margin-bottom: 1vh;
}

/* Editor Page*/
.left-main-container-editor{
  top: 13vh;
  height: 100%;
  background-color: white;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}

.center-main-container-editor{
  height: 100%;
  grid-column: 3/8;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.right-main-container-editor{
  top: 13vh;
  height: 100%;
  background-color: white;
  grid-column: 10;
}

.editor-button-container{
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 16vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  margin-left: 3vw;
}

.save-button{
  font-size: 1.3vw;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  color: rgb(121, 121, 121);
  font-family: var(--ui-font);
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.save-button:hover{
  color: black;
}

.delete-button {
  font-size: 1.3vw;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  color: rgb(240, 170, 170);
  font-family: var(--ui-font);
  margin-bottom: 3vh;
}

.delete-button:hover{
  color: rgb(230, 0, 0);
}

.editor{
  margin-top: 3vh;
}

.like-button{
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  width: 2em;
  height: auto;
  align-self: center;
  top: 16vh;
  cursor: pointer;
  opacity: 0.3;
  transition: top .3s ease;
}

.like-button:hover{
  opacity: 1;
  width: 2.5em;
  top: 15.5vh;
}

.like-counter{
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  height: 1rem;
  align-self: center;
  top: 20vh;
  font-family: 'Oswald', sans-serif;
}